/* -----------
general styles
-------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}
/*---------
navigation 
----------*/
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 90px;
}
.header-title{
    width: 500px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}
.navigation{
    width: 600px;
    height: 53px;
}
.navigation-ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navigation-li{
    width: 500px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #424242;
    padding-top: 15px;
}
/*--------
container
----------*/
.container{
    background-color: #fff4e7;
    width: 100%;
    height: 160vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.container-title{
    width: 50%;
    height: 225px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    background-color: #fff4e7;
    padding-top: 10px;
}
.container-description{
    width: 60%;
    height: 52px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    background-color: #fff4e7;
    /* padding-bottom: 50px;
    padding-top: 15px; */
}
.container-button{
    width: 180px;
    height: 64px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    background-color: #ff900e;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container-image{
    width: 75%;
}
