/* -----------
general styles
-------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/*---------
navigation 
----------*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: #fff4e7;
    gap: 20%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}
.header-title{
    width: 500px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}
.navigation{
    width: 600px;
    height: 53px;
}
.navigation-ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.navigation-li{
    width: 500px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #424242;
    padding-top: 15px;
}
/*--------
container
----------*/
.container{
    background-color: #fff4e7;
    width: 100%;
    /* height: 160vh; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.container-title{
    width: 50%;
    height: 225px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    background-color: #fff4e7;
    padding-top: 10px;
}
.container-description{
    width: 60%;
    height: 52px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    background-color: #fff4e7;
    /* padding-bottom: 50px;
    padding-top: 15px; */
}
.container-button{
    width: 180px;
    height: 64px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    background-color: #ff900e;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-style: none;
}
.container-image{
    width: 70%;
    padding-bottom: 50px;
}
/*--------------------
quick feature section 
---------------------*/
.quick-features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    gap: 5%;
    margin-bottom: 130px;
    margin-top: 75px;
}
.quick-feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
.quick-image{
    width: 12vw;
    height: auto;
    border-radius: 8px;
}
.quick-features-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.quick-features-title{
    width: 468px;
    height: 106px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.qft-bold{
    color: #131313;
}
.qft-color{
    color: #FF900E;
}
.quick-features-description{
    width: 537px;
    height: 78px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.quick-features-button{
    width: 180px;
    height: 64px;
    padding: 20px;
    left: 1107px;
    top: 1870px;
    background-color: #FF900E;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    color: #FFFFFF;
    border-style: none;
}
.feature-list{
    width: 70%;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.feature-list-image-box{
    width: 500px;
    height: 950px;
}
.feature-list-image{
    width: 500px;
    height: 850px;
}
.feature-list-info{
    width: 500px;
    height: 850px;
}
.feature-list-title{
    width: 468px;
    height: 106px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid  #FF900E;
    padding-left: 21px;
}
.feature-list-description{
    width: 500px;
    height: 200px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}
.lists{
    /* padding-top: 70px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -15px;
}
.list{
    width: 500px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px 25px;
}
.list-title{
    width: 400px;
    height: 23px; 
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.list-description{
    padding-top: 10px;
    /* padding-bottom: 20px; */
    width: 450px;
    height: 78px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.feature-button{
    width: 342px;
    height: 200px;
    pad: 50px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border-style: none;
    position: relative;
    right:-740px;
    top: -200px
}
.feature-button > small{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
}
/* --------------
facts container 
-----------------*/
.facts-container{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 130px;
}
.facts-title{
    width: 258px;
    height: 53px; 
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.facts-description{
    width: 542px;
    height: 52px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 5% 2.5%;
}
.fact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 2s ease 1s;
}
.fact:hover{
    background-color: rgb(131, 225, 226);
    transform: scale(1.5, 1.5);
}
.fact-image{
    width: 45.22px;
    height: 45.22px;
}
.fact-number{
    width: auto;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}
.fact-info{
    width: auto;
    height: 23px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}
/* --------------
sponsors section 
----------------*/
.sponsors-details{
   margin-bottom: 120px;
}
.sponsors-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsors-title{
    width: 327px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.sponsors-subtitle{
    width: 542px;
    height: 52px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-top: 24px;
    padding-bottom: 50px;
}
.sponsors-images{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
}
.sponsor-image{
    width: 165px;
    height: 50px;
    filter: grayscale(100%);
}
/* -------------
footer section 
--------------*/
.footer{
    background-color: #fff4e7;
    height: 100px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 100px;
}
.footer-detail{
    width: auto;
    height: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}
/* -----------
bonus section 
-------------*/
.old-projects{

}
.old-project-title{
    width: 500px;
    height: 100px; 
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-left: 15%;
}
.old-project-description{
    width: 800px;
    height: 200px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-left: 15%;
}
.projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 15%;
    margin-right: 15%;
    grid-gap: 20px;
    justify-content: space-around;
}
.project{
    width: 200px;
    height: 200px;
    transition: transform 3s ease 1s;
    border: 2px solid black;
    border-radius: 10px;
}
.project:hover{
    transform: scale(2,2);
}